:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/*Sessão Principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/Round6.jpg) ;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 50px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 0.5rem;
    z-index: 10;
    background-color: #141414;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}
.modal-header{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0px ;
    max-width: 10px;
    height: 10px;
    justify-content: center;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.modal-body{
    padding: 10px 15px;

}
.modal-body .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-body .botoes-info{
    border: none;
    background: rgba(0,0,0,.50);
}


.modal-body .relevancia{
    color: green;
    font-size: 1.25rem;
    font-weight: bold;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.botao{
    background-color: white ;
    border: none;
    color: black;
    border-radius: 0.5rem;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.botao i{
    margin-right: 8px;
}


.botaomais{
    background-color: rgba(59, 59, 59, 0.5) ;
    border: none;
    color: white;
    border-radius: 0.5rem;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botaomais:hover{
    background-color: white;
    color: black;
}

.botaomais i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 200px;
    width: 25px;
    display: block;
    border-radius: 0.25rem;
}

.carrosel-filmes{
    margin-top: 5px ;
}

.categorias{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

